@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-green: #49b43d;
    --light-green: #43b02a;
    --dark-gray-category: #aaaaaa;
    --white: #FFFFFF;
    --light-blue: rgb(169 205 229);
    --gray: #f7f7f7;
    --light-gray: #DDDDDD;
    --red: #FF0000;
    --light-green-transparent: #daf0d6; 
    --dark-gray: #A0A0A0;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #fff;
}



img {
    width: 100%;
}


.container {
    width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.row.row-center {
    justify-content: center;
}

.col {
    padding: 0 1rem;
}

.col-100 {
    width: 100%;
}

.col-75 {
    width: 75%;
}



.col-66 {
    width: 66.33%;
}

.col-60 {
    width: 50%;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33%;
}

.col-30 {
    width: 30%;
}

.col-25 {
    width: 25%;
}

.col-10 {
    width: 20%;
}

.display-none {
    display: none !important;
}

.center-block {
    display: flex;
    justify-content: center;
    
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-error {
    font-size: 0.75rem;
    line-height: 0.8rem;
    color: var(--red);
    margin: 0 0.5rem;
    display: inline-block;
} 

.position-relative {
    position: relative;
}

.btn {
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.4s ease;
}

.btn-blue {
    background-color: var(--dark-green);
    padding: 1rem 1rem;
    font-weight: bold;
    color: var(--white);
   
}

.btn-blue:hover {
    background-color: var(--light-green);
}

.btn-cart {
    background-color: var(--white);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 6px #555;
    
}

.btn-category {
    background-color: var(--light-green-transparent);
    color: var(--light-green);
    padding: 0.5rem;
    font-weight: bold;
    display: inline-block;
    margin: 0.2rem;
}

.btn-category.active {
    background-color: var(--light-green);
    color: var(--white);
}

.section {
    padding-bottom: 3rem;
}

.title {
    font-size: 1.8rem !important;
    padding-bottom: 1rem;
}

.owl-dot.active span{
    background-color: var(--dark-green) !important;
}

.form-control {
    border: 1px solid var(--gray);
    display: block;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.1rem 0;
    outline: none;
    
}


.block-form {
    display: flex;
    margin: 0.5rem 0;
  
}

.block-form  .form-control{
    width: 100%;
    margin: 0 0.2rem;
}

.form-control {
    display: inline-block;
    width: 100%;
}

.form__data-cart .form-control {
    display: block;
}


.alert {
    position: fixed;
    top: 2rem;
    right: 1rem;
    padding: 1.3rem 1.5rem;
    background-color: var(--white);
    z-index: 2000;
    border-left: 5px solid var(--light-green);
    border-radius: 10px;
   /*  translate: ; */
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transform: translateX(calc(100% + 1rem));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.alert.active {
    transform: translateX(0);
}

.alert-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.alert i {
    font-size: 1.6rem;
   
}

.alert i.blue {
    color: var(--light-green);
}

.alert i.red {
    color: var(--red); 
}

.alert i.orange {
    color: #F1D302;
}


.alert span {
    display: block;
}

.alert span:first-child {
    font-size: 1.1rem;
}

.alert-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--light-green);
    display: none;
}

.alert-progress.active {
    animation: progress 4s linear forwards;
}

.alert-close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.alert-close i {
    font-size: 1rem;
    color: #000;
}

.load {
   position: absolute;
   top: 50%;
   left: 80%;
   transform: translateX(-80%) translateY(-50%);
   opacity: 0;
}

.load-display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    z-index: 1000;
    transform: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    transition: all 0.3s ease;
}

.load-display .logo-display {
  
    animation: show-hide-logo infinite 2s linear;
}

.load-display .logo-display img{
  
    width: 14rem;
}

@keyframes show-hide-logo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }

    
}

.load-display .loader {
   width: 4rem;
   height: 4rem;
   
   
}


.load-success {
    display: flex;
    justify-content: center;
}

.load-success .loader {
    width: 3rem;
    height: 3rem;
    margin: 2rem 0;
}

.load-add-cart {
    opacity: 1;
}

.load-add-cart .loader {
    border-color: var(--light-green);
    border-top-color: transparent;
}

.load.show {
    opacity: 1;
}

.load-display.hide {
    display: none;
}

.load-display.opacity {
    opacity: 0;
}

.load.load-products {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.load-products.hide {
    display: none;
}


.loader {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #555;
    border-top: 5px solid transparent;
    border-radius: 100%;
    background-color: 0;
    animation: loader infinite forwards 0.8s;
}

@keyframes  loader{
    100% {
        transform: rotate(360deg);
    }
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

/* Estilos específicos */

/* =========== HEADER ================ */

.header {
    background-color: #e8e8e8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 1px 2px 10px  #333;
}

.header-mb {
    display: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav input {
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    box-shadow: 0px 3px 6px #555;
    border-radius: 30px;
    display: block;
    width: 30rem;
}

.header__nav .btn-search {
    background-color: #d4d4d4;
    padding: 0.5rem;
    border-radius: 100%;
    margin-left: -3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #555;
    
}

.header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text-cart {
    margin-left: 1rem;
}


.header__text-cart span {
    font-size: 0.95rem;
    display: block;
}


.header__price-cart {
    font-weight: bold;
}

.header__logo img{
    width: 10rem;
}

/* ============== BANNER =============== */

.banner {
    padding: 2rem 0;
    padding-top: 8.4rem;
}



/* ============== PRODUCTOS =============== */

.products {

}

.products-hide {
    display: none;
}

.products__category {
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 10px;
}



.products__card-product {
    border-radius: 10px;
    box-shadow: 0px 3px 6px #555;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}




.products__card-img {
    background-color: var(--white);
    width: 100%;
    
    padding-bottom: 75%;
    
    position: relative;
    border-bottom: 2px solid var(--light-gray);
}

.products__card-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.products__card-description {
    padding: 1rem;
    background-color: var(--white);
}

.products__type {
    font-size: 0.9rem;
    color: var(--dark-gray-category);
}

.products__cont-price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__cont-price {
    padding: 1rem 0;
 
}

.products__price {
    color: var(--light-green);
    font-weight: bold;
    font-size: 1.2rem;
}

.products__price-before {
    color: var(--dark-gray);
    text-decoration: line-through;
    text-shadow: 3px 3px 6px var(--light-gray);
    font-style: italic;
    font-size: 0.94rem;
    display: block;
}

.products__discounts {
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: var(--red);
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--white);
    border-bottom-left-radius: 5px;
    display: block;
}

.products__options-product {
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border:1px solid var(--light-green);
    transition: all 0.4s ease;
    color: var(--light-green);
}

.products__options-product:hover {
    background-color: #e1e1e1;
    
    
}

.products__options-product img {
    width: 2rem;
    
}

.products__options-product.detail-product{

    width: auto;
    height: auto;
 

    font-size: 1rem !important;
    padding: 0.2rem 0.7rem;
    margin-top: 1rem;

}

.products__options-product.detail-product i {
    font-size: 1.3rem;
    padding: 0.3rem;
}

.detail-product .center-block {
    align-items: center;
}

.detail-product .load-add-cart {
    padding: 0.15rem 3.8rem;
  
}

.products__options {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    background-color: white;
    opacity: 0;
    width: 100%;
    transition: all 0.4 ease;
}

.products__card-product:hover .products__options {
    opacity: 1;
    transition: all 0.4s ease;
}

.products__options.detail-product {
    opacity: 1 !important;
    position: relative !important;
    justify-content: start;
}

.products__description {
    margin-top: 1rem;
}

#form-datos-envio {
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#form-datos-envio.show {
    opacity: 1;
    z-index: 1000;
}


#form-datos-envio .cart__header-card{
    position: relative;
}

#form-resumen-compra {
    transition: all 0.4s ease;
    position: relative;
}

#form-resumen-compra.hide {
    opacity: 0;
    z-index: -1;
}

.cart__card-return-form {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}

/* ============  Carrito de compras  ============ */

.cart {
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2000;
    background-color: var(--white);
    box-shadow: 0px 0px 15px var(--dark-gray);
    transition: all 0.5s ease;
    /* overflow: scroll; */
}

.cart__header-img {
    background-color: #E2E2E2;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: self-start;
    box-shadow: 0px 2px 6px #555;
    padding-top: 10px;
    
    
    /* border-width: 3px;
    border-color: #000;
    border-style: none none solid none; */
}

.cart__header-img img {
    width: 10rem;
}

.cart__close-cart {
    position: absolute;
    top: 1.3rem;
    right: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.cart__container {
    width: 95%;
    box-shadow: 3px 3px 6px var(--dark-gray);
    border-radius: 10px;
    margin-top: -3.5rem;
    background-color: var(--white);
    padding: 1rem 2rem;
    height: 85vh;
    overflow: auto;
}

.table {
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 3px 3px 6px var(--dark-gray);
    overflow: hidden;
    width: 100%;
}

.table thead tr {
    border-bottom: 2px solid var(--dark-gray);
    background-color: #f5f5f5;
}

.table th {
    padding: 1rem;
}

.table tbody {
    padding: 1rem;
}

.table .cart__data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table td {
    padding: 1rem 0;
    

}

.table .cart__data img {
    width: 3.5rem;

}

.cart__operation {
    background-color: var(--light-gray);
    border-radius: 100%;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}


.cart__close-cart i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__information {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.cart__name-product {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}


.cart__input-quantity {
    width: 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    padding: 0.2rem;
    outline: none;
}

.cart__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.cart__delete {
    font-size: 1.4rem;
    color: var(--red);
    cursor: pointer;
}

.cart__card {
    box-shadow: 0px 0px 15px var(--dark-gray);
    border-radius: 10px;
    overflow: hidden;
}

.cart__header-card {
    padding: 1rem 0;
    text-align: center;
    color: var(--white);
    background-color: var(--dark-green);
    font-size: 1.15rem;
    font-weight: bold;
}

.cart__body-card {
    padding: 1rem;
}

.cart__cont-total p{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.2rem 0;
}

.cart__cont-total p span {
    font-size: 1.2rem;
}

.cart__total {
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
    font-weight: bold;
    font-size: 1.25rem !important;
    border-bottom: 1px dashed #333;
    display: block;
}

.cart__total span {
    font-size: 1.4rem !important;
}

.cart__methods {
    padding-top: 0.5rem;
}

.cart__payment-types {
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cart__payment-types span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__payment-types img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.cart__data-user {
    text-align: center;
    padding: 0.5rem 0;
}

.form__data-cart {
    display: flex;
    align-items: start;
    justify-content: center;
}

.form__data-cart .form-control {
    width: auto;
    margin: 1rem;
    margin-bottom: 0;
    
}

.cart__cont-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cart__cont-next input{
    display: inline-block;
    padding: 0;
    display: inline !important;
    width: 20% !important;
}

.cart .btn-blue {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

/* Items carrito en móvil */
.cart__product {
    display: none;
}

.cart__item-product {
    box-shadow: 0px 0px 5px #333;
    border-radius: 8px;
    margin: 1rem 0;
    padding: 0.3rem 0;
    width: 100%;
}

.cart__quantity-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.cart__price {
    font-size: 1.1rem;
}

.cart .center-block {
    align-items: center;
}

/* Detalle del producto */

.detail {
    width: 50rem;
    background-color: #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 2rem;

}

#detail-success {
   
    text-align: center;
    font-size: 1.3rem;
}

.detail.open {
    display: block;
}

.detail.show {
    opacity: 1;
}

.detail__container{
    width: 95% !important;
    box-shadow: 3px 3px 6px var(--dark-gray);
    border-radius: 10px;
    margin-top: -3.5rem;
    background-color: var(--white);
    padding: 1rem 2rem;

 
}

.detail__cont-success {
    font-size: 3rem;
    color: var(--dark-green);
    padding-bottom: 1rem;
}

/* ============ FOOTER ========= */

.footer__text {
    padding: 1rem;
    background-color: var(--gray);
    text-align: center;
    color: #fff;
    background-color: #000;
}

.footer__logos {
    background: #a8a8a8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__img-logo img {
    width: 16rem;
    padding: 0 2rem;
}

.footer__content-img img{
    height: 280px;
}
 




/* =============== Otros ============= */


.trama {
    background-color: rgba(33, 33, 33, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.open-cart {
    right: 0;
}

.open-trama {
    display: block;
}

.open-trama-styles {
    opacity: 1;
}

#formWompi {
    display: none;
}

/* Paginación */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.page-item {
    list-style: none;
}

.page-item a {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    color: var(--light-green);
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.page-item a.active,
.page-item a:hover{
    background-color: var(--dark-green);
    color: #fff;
}

.numbers-content {
    display: flex;
}

.page-link.disabled {
    
}

/* ============ Responsive =========== */

@media (max-width: 1200px) {
    
    .container {
        width: 1040px;
    }

    
    .form__data-cart .form-control {
        margin: 0.5rem;
    }

    .cart {
        width: 100%;
    }

}

@media (max-width: 992px) {
    
    .container {
        width: 900px;
    }

    .col-tb-50 {
        width: 50%;
    }

    .container {
        width: 100%;
    }

    .col-mb-100 {
        width: 100%;
    }

    .col-mb-50 {
        width: 50%;
    }

    .col-mb-33 {
        width: 33.33%;
    }

    .header .header__nav {
        display: none;
    }

    .header-mb {
        display: block;
        margin-top: 8rem;
        padding: 0 1rem;
    }

    .banner {
        padding-top: 2.4rem;
    }

    .header__nav input {
        width: 100%;
    }  

    .products__category {
        margin-bottom: 2rem;
    }

    .footer__logos {
        flex-direction: column;    
    }

    .cart {
        width: 100% ;
        overflow: none;
        overflow-x: none;
    }

    .container.cart__container {
        height: 100%;
        overflow: auto;
        padding-bottom: 6rem;
    }

    .table.cart__table {
        margin-bottom: 3rem;
    }

    .form-control.small {
        width: 5rem;
    }

    .form__data-cart .form-control {
        margin: 0.5rem;
    }

    .detail {
        width: 100%;
    }
}

@media (max-width: 768px) {
    /* .detail {
        top: 0;
        left: 0;
        transform: none;
   
    } */

    .products__card-img{
        padding-bottom: 85%;
    }

    .products__card-img img {
        width: 85%;
    }

    .cart .row.row-center {
        align-items: center;
    }

    .cart .center-block {
        
        align-items: center;
    }

    .table.cart__table {
        display: none;
    }

    .cart__product {
        display: block;
    }

    .detail__container {

    }

    .col-50-sm-mb {
        width: 50%;
    }

    .detail__container img{
        
    }

    .no-padding{
        padding: 0;
    }


    .cart__product td{
        padding-bottom: 1rem;
    }

    .container.cart__container {
        padding-bottom: 13.5rem;
    }
}